Screen {
  layout: vertical;
}

.box {
  border: solid green;
  min-width: 150;
}

#explanations-keys {
  margin-left: 2;
}

Requests {
  layout: grid;
  grid-size: 5 5;
  grid-columns: 1.5fr 1fr 1fr 1fr 1fr;
  grid-rows: 1 3 3 3 3;
  max-height: 15;
}

#request-title {
  column-span: 5;
}

#request-node {
  row-span: 4;
}

#node-label {
  margin: 1 0 0 2;
}

#nodes {
  width: 20;
}

#baseurl {
  width: 40;
  margin: 0 0 2 1;
}

.hide {
  display: none;
}

#request-button {
  margin-left: 2;
}

.short-input {
  width: 15;
}

.request-label {
  margin-top: 1;
}

AutoComplete {
  max-height: 4;
  max-width: 15;
  margin-right: 3;
  align: left top;
}

#times {
  width: 26;
}

.date-input {
  width: 27;
  margin-right: 1;
}

#nslc, #timeframe, #merge, #gaps-quality {
  column-span: 4;
}

#mergegaps {
  margin-right: 3;
}

Status {
  max-height: 6;
}

#status-container {
  margin-left: 2;
}

Results {
  max-height: 30;
}

ContentSwitcher {
  margin-left: 2;
}

#info-bar {
  background: $primary;
}

#lines {
  max-height: 27;
}

.result-item {
  height: auto;
}

CursoredText {
  margin-left: 2;
}
